.display {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #4caf50, #008cba);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
}

.button:active {
  scale: 0.9;
}
