.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  text-align: center;
}
