.screening {
  padding: 1rem 1rem 1rem 3rem;
}

.screening-title {
  text-align: left;
}

.screening-title div {
  display: flex;
  justify-content: space-between;
}

.screening-push-button {
  display: flex;
  justify-content: left;
}

.calendar {
  position: fixed;
  bottom: 18rem;
  right: 2rem;
  z-index: 999;
  background-color: white;
}

.menu-card {
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  background-color: black;
  border-radius: 10px;
  padding: 1rem;
}

.menu-card p {
  color: white;
  margin-top: 0;
}

.menu-card a {
  color: white;
  text-decoration: none;
}

.menu-card p:hover {
  cursor: pointer;
}

.menu {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 5%;
  width: 4%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.screening-push-button button {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #4caf50, #008cba);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 1rem auto;
}

.screening-push-button form {
  display: flex;
  flex-direction: column;
}

.screening-push-button input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.screening-push-button button:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
}

.screening-push-button button:active {
  scale: 0.9;
}

.data-container {
  font-family: "Lato";
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.modal {
  display: flex;
  align-items: center;
  margin: 2rem;
  gap: 3rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
}

.modal a,
.modal p {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}
